## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config_Copy2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
os.path.join("Weather_Database.")
city_data_df = pd.read_csv("Weather_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Nampa,US,43.5407,-116.5635,76.28,34,0,10.36,clear sky
1,1,Nizhnevartovsk,RU,60.9344,76.5531,66.22,72,0,8.99,clear sky
2,2,Bahia Blanca,AR,-38.7196,-62.2724,48.02,76,100,10.54,overcast clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,30.31,74,20,10.36,few clouds
4,4,Manggar,ID,-2.8833,108.2667,78.26,87,100,16.55,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Nampa,US,43.5407,-116.5635,76.28,34,0,10.36,clear sky
1,1,Nizhnevartovsk,RU,60.9344,76.5531,66.22,72,0,8.99,clear sky
4,4,Manggar,ID,-2.8833,108.2667,78.26,87,100,16.55,overcast clouds
5,5,Guerrero Negro,MX,27.9769,-114.0611,73.31,54,0,16.64,clear sky
8,8,Mount Isa,AU,-20.7333,139.5000,67.77,49,100,10.36,overcast clouds
9,9,Foligno,IT,42.9440,12.7011,68.13,49,34,5.97,scattered clouds
13,13,Mogadishu,SO,2.0371,45.3438,78.37,81,51,21.97,light rain
14,14,Souillac,MU,-20.5167,57.5167,70.18,68,40,13.80,scattered clouds
15,15,Rikitea,PF,-23.1203,-134.9692,70.86,59,83,12.39,broken clouds
17,17,Barrow,US,71.2906,-156.7887,66.22,52,0,10.36,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             331
City                   331
Country                331
Lat                    331
Lng                    331
Max Temp               331
Humidity               331
Cloudiness             331
Wind Speed             331
Weather Description    331
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Nampa,US,43.5407,-116.5635,76.28,34,0,10.36,clear sky
1,1,Nizhnevartovsk,RU,60.9344,76.5531,66.22,72,0,8.99,clear sky
4,4,Manggar,ID,-2.8833,108.2667,78.26,87,100,16.55,overcast clouds
5,5,Guerrero Negro,MX,27.9769,-114.0611,73.31,54,0,16.64,clear sky
8,8,Mount Isa,AU,-20.7333,139.5000,67.77,49,100,10.36,overcast clouds
9,9,Foligno,IT,42.9440,12.7011,68.13,49,34,5.97,scattered clouds
13,13,Mogadishu,SO,2.0371,45.3438,78.37,81,51,21.97,light rain
14,14,Souillac,MU,-20.5167,57.5167,70.18,68,40,13.80,scattered clouds
15,15,Rikitea,PF,-23.1203,-134.9692,70.86,59,83,12.39,broken clouds
17,17,Barrow,US,71.2906,-156.7887,66.22,52,0,10.36,clear sky

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Nampa,US,76.28,clear sky,43.5407,-116.5635,
1,Nizhnevartovsk,RU,66.22,clear sky,60.9344,76.5531,
4,Manggar,ID,78.26,overcast clouds,-2.8833,108.2667,
5,Guerrero Negro,MX,73.31,clear sky,27.9769,-114.0611,
8,Mount Isa,AU,67.77,overcast clouds,-20.7333,139.5000,
9,Foligno,IT,68.13,scattered clouds,42.9440,12.7011,
13,Mogadishu,SO,78.37,light rain,2.0371,45.3438,
14,Souillac,MU,70.18,scattered clouds,-20.5167,57.5167,
15,Rikitea,PF,70.86,broken clouds,-23.1203,-134.9692,
17,Barrow,US,66.22,clear sky,71.2906,-156.7887,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace("np.nan", inplace=True) 
hotel_df.dropna().head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Nampa,US,76.28,clear sky,43.5407,-116.5635,Nampa Downtown
1,Nizhnevartovsk,RU,66.22,clear sky,60.9344,76.5531,Luch
4,Manggar,ID,78.26,overcast clouds,-2.8833,108.2667,Guest Hotel
5,Guerrero Negro,MX,73.31,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
8,Mount Isa,AU,67.77,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Weather Description} </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))